/* base variables */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Monserrat');
@import url('https://fonts.googleapis.com/css2?family=Lato');


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     rgba(0, 49, 60, 1);
  --header-color:    rgba(0, 49, 60, 1);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 49, 60, 1);
  --fig-cap-color:   rgba(0, 49, 60, 1);
  --hover-color:     rgba(0, 49, 60, 0.4);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Monserrat", sans-serif;
  --body-font:       "OPen-Sans", sans-serif;
  --navbar-font:     "Monserrat", sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.9rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --font-family:      'Montserrat', serif;
  --title-size:       21px;
  --text-color:       rgba(0, 49, 60, 1);
  --text-size:        18px;
  --hover-color:      rgb(115,130,118, 0.5);
  --bkgd-color:       rgba(249, 250, 247, 0.8);
  font-variant: small-caps;
}

.distill-site-footer {
  --text-color:       rgba(10, 10, 10, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       rgba(249, 250, 247, 0.8); 
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

h1, h2, h3 {
  color: rgba(0, 49, 60, 1);
  font-variant: small-caps;
}

h3 {
  font-size: 10px;
}

p {
  color: rgba(0, 0, 0, 0.8);
}

a {
	color: rgba(0, 49, 60, 1);
	text-decoration: none;
  font-weight:bold;
}


a:hover {
	color: rgb(115,130,118, 0.5);
}

/* Multicolumns Layout */
.col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }

/* Buttons on postcard */
.btn-outline-dark {
    color: rgba(0, 49, 60, 1);
}

.btn-outline-dark:hover {
    background-color: rgba(0, 49, 60, 1);
    color: #FFFFFF;
}

body {
  background-color: rgba(249, 250, 247, 0.8);
}

html, body {
    height: 100%;
}


.button_that_looks_like_link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  /*font-family: arial, sans-serif;*/
  /*input has OS specific font-family*/
  color: rgba(0, 49, 60, 1);
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
  font-size:14px;
  font-family: "OPen-Sans", sans-serif;
}

/* Hide abstracts */
#abstract_media {
display: none;
font-size:13px;
}
#abstract_preschool {
display: none;
font-size:13px;
}
#abstract_wait {
display: none;
font-size:13px;
}